#Title {
    font-size: 100px;
    border-radius: 30px;
    background-color: red;
    text-align: center;
    width: 5em;
    align-items: center;
    display: flex;
}

body {
    background-color: rgba(12, 186, 186, 0.638);
}