#Title {
    font-size: 100px;
    border-radius: 30px;
    background-color: rgb(225, 255, 0);
    text-align: center;
    width: 5em;
}
#Zombie{
    background-color: red;
    display:  inline-block;
    height: 10em;
    border-radius: 1em;
    text-align: center;
}

body {
    background-color: rgba(12, 186, 186, 0.638);
}